div{
    height: 100px;
    width: 100px;
    background-image: url("fish.jpg");
    background-size: cover;
    color: white;
    /* display: block; */
    position: fixed;
    right: 0px;
    top:20px;
}