div{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 2px solid black;
    /* transform: rotate(45deg); */
    position: absolute;
    top: 100px;
    left:100px;
    transition: all 2s ease-in;
    /* Scale Property

    transform:scale:(2) ;->x,y axis
    transform:scale(0.5);
    transform:scale(1,2);

    transform:scaleX(0.5);
    transform:scaleY(0.5);
    
    */
    /* transform: scale(0.5); */

    /* Translate
    
    transform:translate(20px);
    transform:translate(20px,50px);

    transform:translateX(20px);
    transform:translateY(20px);
    
    */

    /* Skew
    transform:skew(30deg);
    
    */
}
div:hover{
    /* transform: scale(2); */
    /* transform: translateX(-250px); */
    transform: skew(90deg);
}